
.card{
    background-color:rgba(234, 231, 231, 0.432);
    margin: 10px;
  
    justify-content: center;
    width: 420px;
    height: 460px;
  
  
}
.card-img-top{
    width: 420px;
    height: 300px;
    
}
.author{
    color:rgba(0, 0, 0, 0.573);
    margin-top:-29px;
    margin-left: 5px;
}
.date{
    letter-spacing: 1px;
    margin-left: 220px;
    margin-top: -32px;
}



.card-title{
    font-size:20px;
    margin-left: 7px;
    margin-top: -1px;
}

.newzdata{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 1370px;
    justify-content: center;
    margin-left: 122px;
    margin-top: -640px;
   
}
.newzhading{
    color: red;
    margin-left: 5px;
    margin-top: -7px;
}



